<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Diseño Multimedia</title>
</head>

<body>
    <header>
        <h3>Diseño<span> Multimedia</span></h3>

        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html">NOSOTROS</a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contacto.html"><span>CONTACTO</span></a></li>
            </ul>
        </nav>
    </header>

    <section class="container-Subs">
        <h3>Suscribete a nuestro boletín</h3>
        <div class="input">
            <input type="email" name="email" id="email" placeholder="Ingrese su email" autocomplete="email">
            <input type="submit" value="Suscribete" class="button">
        </div>
    </section>

    <main>
        <section class="container">
            <h3>Contacto</h3>
            <form>
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" class="input-contacto" placeholder="Ingresa tu nombre" autocomplete="username">
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="input-contacto" placeholder="Ingresa tu email" autocomplete="email">
                
                <label for="tel">Telefono</label>
                <input type="tel" id="tel" name="tel" class="input-contacto" placeholder="Ingresa tu teléfono" autocomplete="tel">
                
                <label for="cel">Celular</label>
                <input type="tel" id="cel" name="cel" class="input-contacto" placeholder="Ingresa tu celular" autocomplete="tel">
                
                <label for="mens">Mensaje</label>
                <textarea id="mens" name="mens" class="input-contacto" rows="8"></textarea>
                
                <input type="submit" value="Enviar" class="button">
            </form>
            

        </section>

        <aside>
            <article class="que-hacemos">
                <h3>Que Hacemos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, numquam. Provident inventore
                    quidem omnis libero vel qui natus dolorem? Adipisci assumenda sit veritatis vel cumque in sunt
                    quidem unde ex.</p>

            </article>
            <img src="../assets/images/mapaGoogle.png" alt="maps">
        </aside>

    </main>

    <footer>
        <p>Grapched Desarrollo Web &copy; 2017</p>
    </footer>
</body>

</html>