<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Diseño Multimedia</title>
</head>

<body>
    <header>
        <h3>Diseño<span> Multimedia</span></h3>

        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="nosotros.html"><span>NOSOTROS</span></a></li>
                <li><a href="servicios.html">SERVICIOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <section class="container-Subs">
        <h3>Suscribete a nuestro boletín</h3>
        <div class="input">
            <input type="email" name="email" id="email" placeholder="Ingrese su email">
            <input type="submit" value="Suscribete" class="button">
        </div>
    </section>

    <main>
        <section class="container">
            <article class="articles">
                <h3>Nosotros</h3>
                <p id="p-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias autem, accusamus inventore porro
                    mollitia soluta magnam error ea provident dignissimos possimus quod, optio consequatur odio
                    doloremque veritatis earum eveniet doloribus.lo Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Numquam repellat aperiam iste, qui, ea ullam rem laborum atque quam non laudantium error
                    inventore optio doloribus ratione consequatur sint tempore quae!
                </p>

                <p id="p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas harum odit vero debitis odio
                    accusamus reiciendis ducimus incidunt consequuntur ut inventore a at quae, consequatur veritatis
                    recusandae eos id ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
                    voluptatibus hic aperiam cum repudiandae ipsam quae nam, odio natus labore optio eum fugiat ab, sint
                    porro quisquam eligendi iste culpa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
                    ullam explicabo veniam. Ipsum omnis corporis suscipit molestiae in quos, odio ipsam molestias
                    inventore dolores, itaque nulla alias quae explicabo optio?
                </p>
                <img src="../assets/images/891.jpg" alt="coffe" id="coffe">
            </article>
        </section>

        <aside>
            <article class="que-hacemos">
            <h3>Que Hacemos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, numquam. Provident inventore
                quidem omnis libero vel qui natus dolorem? Adipisci assumenda sit veritatis vel cumque in sunt
                quidem unde ex.</p>
            </article>

        </aside>
    </main>

    <footer>
        <p>Grapched Desarrollo Web &copy; 2017</p>
    </footer>
</body>

</html>